.f-editor
  .editable
    whiteSpace pre-wrap
    minHeight 4em
    width 100%
    padding 1em
    border 1px dotted grey
  .eicon,.icon
    min-width 50px
    min-height 4.5em
    background-size 3em 3em
    background-repeat: no-repeat
    background-position 0em 1.5em
    white-space nowrap
    display inline-block

.f-editor.show-tags
  ::before,::after
    opacity .69
    color inherit
  b::before
    content '[b]'
  b::after
    content '[/b]'
  i::before
    content '[i]'
  i::after
    content '[/i]'
  u::before
    content '[u]'
  u::after
    content '[/u]'
  s::before
    content '[s]'
  s::after
    content '[/s]'
  a::before
    content '[url=' attr(href) ']'
  a::after
    content '[/url]'
  sup::before
    content '[sup]'
  sup::after
    content '[/sup]'
  sub::before
    content '[sub]'
  sub::after
    content '[/sub]'
  a.AvatarLink::before
    content '[user]'
  a.AvatarLink::after
    content '[/user]'
  a.SessionLink
    color rgba(0,0,0,0)
  a.SessionLink::before
    content '[session=' attr(data-session) ']' attr(alt)
  a.SessionLink::after
    content '[/session]'
  [style*=right]::before
    content '[right]'
  [style*=right]::after
    content '[/right]'
  [style*=left]::before
    content '[left]'
  [style*=left]::after
    content '[/left]'
  [style*=center]::before
    content '[center]'
  [style*=center]::after
    content '[/center]'
  [style*=justify]::before
    content '[justify]'
  [style*=justify]::after
    content '[/justify]'
  [style*=indent]::before
    content '[indent]'
  [style*=indent]::after
    content '[/indent]'
  [color]::before
    content '[color='attr(color)']'
  [color]::after
    content '[/color]'
  [color=""]::before
    content ''
  [color=""]::after
    content ''
  .icon
    border 1px dotted grey
  .icon::before
    content '[icon]'
    white-space nowrap
  .icon::after
    content '[/icon]'
    white-space nowrap
  .eicon
    border 1px dotted grey
  .eicon::before
    content '[eicon]'
    white-space nowrap
  .eicon::after
    content '[/eicon]'
    white-space nowrap
  .user
    border 1px dotted grey
  .user::before
    content '[user]'
    white-space nowrap
  .user::after
    content '[/user]'
    white-space nowrap
