.f-editor
  .toolbar
    min-height 2em
    border 1px dotted #808080
    display flex
    flex-wrap wrap
    [title]
      text-shadow #000 0px 1px 2px
      cursor pointer
      display block
      width auto !important
      height auto !important
      padding 0.25em
      margin 0.1em
      background-position 0.25em center !important
    [title]::before
      opacity 1
      content '['attr(title)
    [title]::after
      opacity 1
      content ']'
    .not-implemented
      display none
    dropdown[type=checkbox], dropdown[type=checkbox] + *
      display none
    dropdown[type=checkbox]:checked + *
      display block
