.f-editor
  .f-editor-toolbar
    min-height 2em
    a
      min-height 2em
      min-width 2em
    a.f-editor-toolbar-bbcode
      min-width 5em
    a.f-editor-toolbar-bbcode:before
      content '[bbcode]'
    a.f-editor-toolbar-text
      min-width 5em
    a.f-editor-toolbar-text:before
      content '[text]'
    button
      border 1px solid white
      padding .5em
      margin .5em
      cursor pointer
    .f-editor-not-implimented
      a
        opacity .2
        border 2px solid red
