.f-editor
  .f-editor-toolbar
    min-height 2em
    a
      min-height 1em
      min-width 2em
      padding .2em 0em 0em .5em
    a.f-editor-toolbar-bbcode
      min-width 6em
      padding .2em 0em 0em .5em
    a.f-editor-toolbar-bbcode:before
      content '[bbcode]'
      color black
      font-weight bold
    a.f-editor-toolbar-text
      min-width 5em
      padding .2em 0em 0em .5em
    a.f-editor-toolbar-text:before
      content ' [text] '
      color black
      font-weight bold
    button
      border 1px solid white
      padding .5em
      margin .5em
      cursor pointer
    .f-editor-not-implimented
      a
        opacity .2
        border 2px solid red
